@page "/"
@using BlazorApp1.Data
@using Refit
@inject BlazorApp1.Data.TokenProvider TokenProvider
<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        Your token is: @TokenProvider.AccessToken
        <AthleteDetail User="@context.User" />
    </Authorized>
    <NotAuthorized>
        You need to log in.
    </NotAuthorized>
</AuthorizeView>

@code{
    private void CheckAthlete()
    {
        RefitSettings settings = new RefitSettings()
		{
			AuthorizationHeaderValueGetter = () => Task.FromResult(TokenProvider.AccessToken)
		};

		var stravaApi = RestService.For<IStravaApi>("https://www.strava.com/api/v3", settings);

		var athlete = stravaApi.GetLoggedInAthlete().Result;

    }
}